@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    justify-content: end;
    .content {
        aspect-ratio: 500 / 300;
        background: url('../../assets/images/couple-05.png') no-repeat 100% 60% / cover;
        width: 100%;
        font-family: $blushing-rose-font;
        position: relative;
    }

    @media (max-width: 500px) {
        .content {
        }
    }
}
