@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    aspect-ratio: 500 / 824;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.394), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #f4f0e5ff),
                url('../../assets/images/couple-01.png') no-repeat 0% 100% / cover;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: $green-color;
        font-family: $blushing-rose-font; 
        padding-bottom: 6%;
        h2.name {
            font-family: $pinyonScript-font;
            font-weight: 300;
            font-size: 64px;
        }
        .divider-and {
            font-family: $pinyonScript-font;
            font-weight: 300;
            font-size: 27px;
        }

    }

    @media (max-width: 500px) {
        .content {
            h2.name {
                font-size: calc((64 / 500) * 100vw);
            }
            .divider-and {
                font-size: calc((27 / 500) * 100vw);
            }
        }
    }
}

