@use "../variables" as *;
@use "../mixins" as *;

.invitation {
    width: 100%;
    .content {
        width: 100%;
        color: $green-color;
        @include flex-center;
        flex-direction: column;
        letter-spacing: .8px;
        padding-top: 17%;
        padding-bottom: 20%;

        .invite-header {
            .invite-top-text {
                text-transform: uppercase;
                color: $pink-color;
                font-weight: 600;
            }
            .invite-sub-text{
                letter-spacing: .8px;
                line-height: 1.5;
            }

        }
        .invite-image {
            max-width: 358px;
            width: 100%;
            margin-top: 6%;
            perspective: 1000px;
            
            img {
                width: 100%;
                height: auto;
            }
        }
        .title {
            font-family: $pinyonScript-font;
            font-size: 32px;
            margin-top: 7%;
        }
        .divider {
            margin: 6% 0;
        }
        .wedding-date {
            font-size: 22px;
            color: $pink-color;
            letter-spacing: 1.5px;
        }
        .venue {
            .venue-title {
                text-transform: uppercase;
                color: $pink-color;
            }
            .venue-name {
                font-family: $pinyonScript-font;
                font-size: 34px;
                color: $pink-color;
                line-height: 1.5;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            letter-spacing:  calc((0.8 / 500) * 100vw);
            .invite-header {
                .invite-sub-text{
                    letter-spacing: calc((0.8 / 500) * 100vw);
                }
    
            }
            .invite-image {
                max-width: calc((358 / 500) * 100vw);
            }
            .title {
                font-size: calc((32 / 500) * 100vw);
            }
            .wedding-date {
                font-size: calc((22 / 500) * 100vw);
                letter-spacing: calc((1.5 / 500) * 100vw);
            }
            .venue {
                .venue-name {
                    font-size: calc((34 / 500) * 100vw);
                }
            }
        }
    }
}