@use "../variables" as *;
@use "../mixins" as *;


.rsvp {
    width: 100%;
    .content {
        width: 100%;
        color: $green-color;
        padding: 10% 0;
        .header {
            padding: 0 7.5%;
            h2.title {
                font-family: $pinyonScript-font;
                color: $pink-color;
                font-size: 32px;
                font-weight: 300;
                margin-bottom: 6%;
            } 
            .subtext {
                letter-spacing: .5px;
                font-size: 12.22px;
                line-height: 1.6;
                text-align: justify;
                text-align-last: center;
            }
        }
        
        hr {
            border-top: 2px solid $pink-color;
            background: $pink-color;
            margin: 5% 8%;
        }

        form {
            padding: 0 8%;
            .form-group {
                margin-bottom: 2%;

                input[type="text"],
                input[type="number"],
                textarea {
                    width: 100%;
                    padding: 2% 3%;
                    border: 2px solid $pink-color;
                    border-radius: 15px;
                    background: transparent;
                    font-size: 9.46px;
                    color: $green-color;
                    transition: border-color 0.3s ease;
                }

                input[type="text"]::placeholder,
                input[type="number"]::placeholder,
                textarea::placeholder {
                    color: $green-color;
                }

                input[type="text"]:focus,
                input[type="number"]:focus,
                textarea:focus {
                    outline: none;
                    // border-color:$title-color;;
                }

                textarea {
                    aspect-ratio: 500 / 100;
                    resize: vertical;
                    font-family: inherit;
                    font-size: 9.6px;
                    line-height: 1.5;
                    letter-spacing: .5px;
                }

                .attendance-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10%;
                    margin: 9% 0 2%;

                    .radio-wrapper {
                        position: relative;
                    }

                    .radio-wrapper input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .radio-label {
                        width: 100%;
                        height: 100%;
                        font-size: 12.36px;
                        display: block;
                        padding: 1%;
                        border: 2px solid $pink-color;
                        border-radius: 15px;
                        background: transparent;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        text-transform: uppercase;
                        line-height: 1.5;
                        @include flex-center;
                        &:hover {
                            background:$pink-color;
                            color: #f4f0e5ff;
                            border: 2px solid $pink-color;
                        }
                    }

                    .radio-wrapper input[type="radio"]:checked + .radio-label {
                        background: $pink-color;
                        border: 2px solid $pink-color;
                        color: #f4f0e5ff;
                    }
                }

                .dietary-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            .submit-btn {
                font-family: $lora-font;
                width: 45%;
                padding: 2%;
                background: $pink-color;
                color:  #f4f0e5ff;
                border: none;
                border-radius: 15px;
                font-weight: 100;
                font-size: 16.68px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: background 0.3s ease;
                margin-bottom: 10%;
                margin-top: 8%;
            }
    
            .submit-btn:hover {
                background: rgb(181, 89, 92);
                opacity: 0.9;
            }
    
            .submit-btn:active {
                transform: scale(0.98);
            }

        }
    }

    @media (max-width: 500px) {
        .content {
            .header {
                h2.title {
                    font-size: calc((32 / 500) * 100vw);
                }
                .subtext {
                    letter-spacing: calc((.5 / 500) * 100vw);
                    font-size: calc((12.22 / 500) * 100vw);
                }
            }
    
            form {
                .form-group {
                    input[type="text"],
                    input[type="number"],
                    textarea {
                        font-size: calc((9.46 / 500) * 100vw);
                    }
    
                    textarea {
                        font-size: calc((9.16/ 500) * 100vw);
                        letter-spacing: calc((0.5 / 500) * 100vw);
                    }
                    .attendance-buttons { 
                        .radio-label {
                            font-size: calc((12.36 / 500) * 100vw);
                        }
                    }
                }
    
                .submit-btn {
                    font-size: calc((16.68 / 500) * 100vw);
                    letter-spacing: calc((1 / 500) * 100vw);
                }
            }
        }
    }
}
