@use "../variables" as *;
@use "../mixins" as *;

.timeline {
    width: 100%;
    .content {
        width: 100%;
        aspect-ratio: 500 / 332;
        background: url('../../assets/images/timeline-bg.png') no-repeat top / cover;
        position: relative;
        color: #f4f0e5ff;
        .wax-img {
            max-width: 94px;
            width: 100%;
            height: auto;
            position: absolute;
            top: -12%;
            transform: translateX(-50%);
        }

        h2.title {
            font-family: $pinyonScript-font;
            font-size: 32px;
            font-weight: 300;
            margin-top: 17%
        }

        .timeline-items-nhagai {
            margin-top: 7%;
            .item {
                @include flex-center;
                flex-direction: column;
                .icon {
                    max-width: 28px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .item:first-child {
                margin-bottom: 11%;
                .icon {
                    max-width: 20px;
                }
            }
        }

        .timeline-items-nhatrai {
            margin-top: 7%;
            .item {
                @include flex-center;
                flex-direction: column;
                .icon {
                    max-width: 28px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .item:nth-child(1),
            .item:nth-child(2){
                margin-bottom: 5%;
            }

            .item:nth-child(1),
            .item:nth-child(3){
                .icon {
                    max-width: 20px;
                }
            }
        }
    }
    
    .couple-img {
        width: 100%;
        aspect-ratio: 500 / 781;
        overflow: hidden;
        perspective: 1000px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 500px) {
        .content {
            .wax-img {
                max-width: calc((94 / 500) * 100vw);
            }

            h2.title {
                font-size:  calc((32 / 500) * 100vw);
            }

            .timeline-items-nhagai {
                .item {
                    .icon {
                        max-width: calc((28 / 500) * 100vw);
                    }
                }
                .item:first-child {
                    .icon {
                        max-width: calc((20 / 500) * 100vw);
                    }
                }
    
            }

            .timeline-items-nhatrai {
                .item {
                    .icon {
                        max-width: calc((28 / 500) * 100vw);
                    }
                }
                .item:nth-child(1),
                .item:nth-child(3){
                    .icon {
                        max-width: calc((20 / 500) * 100vw);
                    }
                }
    
            }
        }
    }
}
