@font-face {
    font-family: 'SVN-Gotham';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../../assets/fonts/SVN-Gotham\ Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1FTVBlushingRose';
    src: url('../../assets/fonts/1FTVBlushingRose.woff2') format('woff2'),
        url('../../assets/fonts/1FTVBlushingRose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PinyonScript';
    src: url('../../assets/fonts/PinyonScript-Regular.woff2') format('woff2'),
        url('../../assets/fonts/PinyonScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
