$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.25);
$radius: 14px;

// Colors
$primary-color: #000;
$bg-color: #f4f0e5ff;
$green-color: #767a4dff;
$pink-color: #b18183ff;

$font-size-base: 12px;

// Font
$gotham-font: 'SVN-Gotham', sans-serif;
$gothamLight-font: 'SVN-GothamLight', sans-serif;
$blushing-rose-font: '1FTVBlushingRose', sans-serif;
$lora-font: 'Lora', sans-serif;
$pinyonScript-font: 'PinyonScript', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
