@use "variables" as *;
@use "fonts";
@use "mixins" as *;
@use "animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    background-color: $bg-color;
    font-family: $lora-font;
    color: #f4f0e5ff;
    @include flex-center;
}

@media (max-width: 500px) {
    body {
        font-size: calc((12 / 500) * 100vw);
    }
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 1000px;
    @include flex-center;
    
    .content {
        box-shadow: $shadow-default;
        width: 100%;
        aspect-ratio: 500 / 890;
        background: url('../../assets/images/letter.webp') no-repeat center / contain;
        text-align: center;
        cursor: pointer;

        .top-text {
            margin-top: 35%;
            &::after,&::before {
                content: '.';
                font-size: 25px;
                position: relative;
                padding: 2%;
                bottom: 1px;
            }
        }

        .couple-names {
            margin-top: 10%;
            h2 {
                font-family: $pinyonScript-font;
                font-size:68px;
                font-weight: 300;
            }
        }

        .date {
            margin-top: 66%;
        }

        .subtext {
            margin-top: 3%;
        }
    }

    @media (max-width: 500px) {
        .content {
            .couple-names {
                h2 {
                    font-size: calc((68 / 500) * 100vw);
                }
            }
        }
    }
}
