@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    @include flex-center;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    position: relative;
    // overflow-x: hidden;
    box-shadow: $shadow-default;
    background-color: $bg-color;
    
    .content {
        width: 100%;
        aspect-ratio: 500 / 890;
        background: url('../../assets/images/letter.png') no-repeat center / contain;
    }
}
